@import url("./font.css");
@import url("reset.css");
@import url("header.css");
@import url("OurStory.css");
@import url("OurCapabilities.css");
@import url("WantTo.css");
@import url("NewsLetter.css");
@import url("footer.css");
@import url("intro.css");

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  box-sizing: content-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
